# Ignore log files
logs/

# Ignore configuration templates
conf/

# Ignore compiled or temporary files
*.tmp
*.log
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore vendor and dependency directories (if used)
vendor/
node_modules/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore WordPress config
app/public/wp-config.php
app/sql/local.sql
